{
  "sourceMaps": false,
  "ignore": ["node_modules/**"],
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": [ ">0.25%", "ie 11"]
      }
    }]
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  },
  "plugins": [
    "transform-object-rest-spread"
  ]
}
